<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>servlet</display-name>
  <servlet>
    <servlet-name>helloServlet</servlet-name>
    <servlet-class>com.oocl.training.day06.HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>helloServlet</servlet-name>
    <url-pattern>/h</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>html/index.html</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <description></description>
    <display-name>LoginSerlet</display-name>
    <servlet-name>LoginSerlet</servlet-name>
    <servlet-class>com.oocl.training.day06.LoginSerlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginSerlet</servlet-name>
    <url-pattern>/LoginSerlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>description1</description>
    <display-name>SafeCode</display-name>
    <servlet-name>SafeCode</servlet-name>
    <servlet-class>safeServlet.SafeCode</servlet-class>
    <init-param>
      <description>desc1</description>
      <param-name>name1</param-name>
      <param-value>value1</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>SafeCode</servlet-name>
    <url-pattern>/SafeCode</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Dispatcher</display-name>
    <servlet-name>Dispatcher</servlet-name>
    <servlet-class>com.oocl.training.day06.Dispatcher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dispatcher</servlet-name>
    <url-pattern>/Dispatcher</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>PerformanceFilter</display-name>
    <filter-name>PerformanceFilter</filter-name>
    <filter-class>com.oocl.training.day06.PerformanceFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>PerformanceFilter</filter-name>
    <url-pattern>/PerformanceFilter</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>PerformFilter</display-name>
    <filter-name>PerformFilter</filter-name>
    <filter-class>com.oocl.training.day06.PerformanceFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>PerformFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
</web-app>